<% provide(:title, 'Contact') %>
		<form action="#" method="POST" name="my_form">
			<fieldset>
				<legend>Important Information</legend>
				<label for="username">Username:</label>
				<input type="text" name="username"><br>
				<label for="password">Password:</label>
				<input type="password" name="password"><br>
				<label for="male">Male:</label>
				<input type="radio" name="gender" value="Male">Male<br>
				<label for="female">Female:</label>
				<input type="radio" name="gender" value="Female">Female<br>
				<input type="checkbox" name="foods" value="Grapes">Grapes<br>
				<input type="checkbox" name="foods" value="Apples">Apples<br>
				<input type="checkbox" name="foods" value="Bananas">Bananas<br>
			</fieldset>
			<fieldset>
				<legend>Optional Information</legend>
				<label for="essay">We want to know about you.<br>Write a short essay about yourself.</label>

				<textarea name="essay" rows="10" cols="30"></textarea><br>
				</fieldset>
