<% provide(:title, 'Contact') %>
<<<<<<< HEAD
		<form action="#" method="POST" name="my_form">
			<fieldset>
				<legend>Important Information</legend>
				<label for="username">Username:</label>
				<input type="text" name="username"><br>
				<label for="password">Password:</label>
				<input type="password" name="password"><br>
				<label for="male">Male:</label>
				<input type="radio" name="gender" value="Male">Male<br>
				<label for="female">Female:</label>
				<input type="radio" name="gender" value="Female">Female<br>
				<input type="checkbox" name="foods" value="Grapes">Grapes<br>
				<input type="checkbox" name="foods" value="Apples">Apples<br>
				<input type="checkbox" name="foods" value="Bananas">Bananas<br>
			</fieldset>
			<fieldset>
				<legend>Optional Information</legend>
				<label for="essay">We want to know about you.<br>Write a short essay about yourself.</label>

				<textarea name="essay" rows="10" cols="30"></textarea><br>
				</fieldset>
=======

<div id="about_container">
	<div id="about_heading">
		<strong id="who_are_we">Who are we?</strong>
	</div>

		<div id="speech">
			<object width="560" height="315"><param name="movie" value="//www.youtube.com/v/jdG75RY5S84?hl=en_US&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/jdG75RY5S84?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
		</div>
		<div class="profile">
			<div id="jeremy_image">
				<img class="input"  src="/MainInputPageV1.4.jpg" alt="rss feed" />

			</div>
			<div id="about_jeremy">
				<p> This is where I put the text about Awais and I. TimeStamp’s life-capturing dataset will help you identify wasted time and methodically squeeze it out of your day. We empower our users to take control of their time. Air alert and improving my jump is the first most important component for this, deep drills with defenders can help too. My final failure is a list of defensive allowances: up line the first game, and a slew of easy unders. These are problems that must be fixed. 3. I need to stay closer on defense. This means changing my conception of allowable positioning. Shutting cutters out of points is the only success as a cutter defender. Do that without face guarding. </p>
			</div>
		</div>

		<div class="profile">
			<div id="about_awais">
				<p> This is where I put the text about awais and I. TimeStamp’s life-capturing dataset will help you identify wasted time and methodically squeeze it out of your day. We empower our users to take control of their time. Air alert and improving my jump is the first most important component for this, deep drills with defenders can help too. My final failure is a list of defensive allowances: up line the first game, and a slew of easy unders. These are problems that must be fixed. 3. I need to stay closer on defense. This means changing my conception of allowable positioning. Shutting cutters out of points is the only success as a cutter defender. Do that without face guarding. </p>
			</div>
			<div id="awais_image">
				<img class="input"  src="/MainInputPageV1.4.jpg" alt="rss feed" />
			</div>
			
		</div>

		<div id="contact">
			<p id="contact_heading"><h3> Contact Us:</h3>We'd love to hear from you! Feel free to contact us with questions, <br>ways we can help you, or comments on our product.
			</p>
			<strong id="contact_info">TimeStamp: timestamptracking@gmail.com<br>Jeremy Nixon: jnixon2@gmail.com<br>Awais Hussain: ahussain@gmail.com</strong>

		</div>
</div>
>>>>>>> reset
