<% provide(:title, 'Contact') %>
<h1>About Us</h1>
<p>
TimeStamp creates an objective, meaningful, and enduring record of exactly where you spend your time. TimeStamp’s life-capturing dataset will help you identify wasted time and methodically squeeze it out of your day. We empower our users to take control of their time.
</p><p>
How do we intend to do this?
</p><p>
We are building an iPhone and webapplication that combines quick, convenient data entry with meaningful data representation. Users will be able to compile a comprehensive dataset on precisely where their time goes.
</p><p>
Why it’s necessary:

    Most of us act habitually, automatically doing day to day activities without being particularly careful about our habits. TimeStamp introduces awareness to the unexamined actions in our day, we bring conscious choice to formerly neglected decisions.
</p><p>
It is disconcerting that  a significant proportion of the average person’s time does not contribute to fulfilment they find in life. We call this wasted time. While these lost hours may seem innocuous, they lead to unfulfilled potential, unachieved goals and huge opportunities lost without the person even being aware. It is all too common to passively expunge time, rather than actively delegating it towards the goals you want to achieve. For productive people who are eager to improve themselves, the notion of being able to monitor lapses in productivity is compelling.
</p><p>
Calendar software is now commonplace both at home and in the workplace. The time is perfect to augment the scheduling experience by giving users the power to not only schedule future events, but also to log, aggregate, and extract meaning from the record of where previous time has been spent. In our interactions with prospective customers we have continually come across people who use their calendars in the rigorous way we advocate for, but are persistently disappointed with the tools available to help them do so.
</p><p>
What makes TimeStamp different?

    Type free data entry: Most calendar apps on the market are not adequately designed for mobile since they require substantial typing in order to input new events. We introduce a system whereby a user can add an event to their calendar with zero typing and just a few button taps.
</p><p>
    The data we collect will be retrospective: Retrospective data is consistently more accurate and thus more useful to users. Prospective schedules are usually optimistic, fail to factor in deviations in plan or transitions between activities, and are rarely altered after the fact to what really happened. Unlike iCal or gCal, our dataset is accurate and robust to changes in schedule and errors in time estimation.
</p><p>
    Integration with existing technologies: A user who opens TimeStamp for the first time will still find it useful. We’ve synced our data inputs with iCal and google calendars to reduce the activation energy required to use this app. The user can then add to this foundation using the TimeStamp data entry interface.
</p><p>
Not a chess timer: Too many time tracking applications require you to be continually starting and stopping timers in order to track your day. Most people don’t want to be harassed by their phone in this way. TimeStamp’s data entry process allows users to spend a couple minutes every few hours logging precisely where they spent the last block of time.
</p><p>
The Founders:

    To handle academic and extracurricular ambition, Jeremy used pen and paper to track his time every day in 15 minute intervals for over 10 months. Awais kept time logs on the calendar software he was already using to schedule his day. This app was developed as a way of making the dataset more powerful and make the process accessible to broader contingent of people.  
</p><p>
Plan To Market:
</p><p>
    We intend to publish a rudimentary version of the application within the next few weeks. The app at this stage will collect data from the calendar on the user’s phone and collate and aggregate the data. We hope this will enable us to test our hypothesis that time data is useful. Within the next 2 months we hope to launch a full-featured version of the application and begin generating revenues from sales in the Apple AppStore.
</p><p>
Future Ambitions:

    Integrating GeoData: A main priority of the app is to minimise the energy required to collect time data, while simultaneously ensuring that the quality of the data does not plummet. If we can intelligently connect a location to an activity then phone location data could be used to significantly reduce the burden to enter data. Note that our app is not about where the user is, but rather what the user is doing.
</p><p>
Analysis of large quantities of time data: As we improve our understanding of large groups of diverse populations we can begin to produce academic quality social research on how people live, work and play.
</p><p>
    Comparisons between estimated and actual time: Within the next year, we hope to be able to support two synchronous calendars. A ‘schedule’ and an ‘actual’ calendar. This will allow users to track how accurately they are able to estimate how long tasks will take, and thus get better at planning their lives and days.
</p><p>
    Making your time searchable: Once adequate data has been collected a search feature will allow event data to be searched using natural language strings. This will give users the ability to answer very specific questions about how long a given task has taken in the past.
</p>
