<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<head>
</head>
<style>
body {
	background-color: #fff;
}
</style>
<p>
  Contact the team anytime!
</p>
<p>
Jeremy Nixon: jnixon2@gmail.com
</p>	
<p>
Awais Hussain: awaishussain@college.harvard.edu
</p>	
