<% provide(:title, 'Help') %>
<h1>Our Thoughts</h1>
<p>

I’m a philosophy student. I remember the first time I was introduced to the transcendence of God. His omnipotence is possible because he exists outside of time and so is able to view all of “time” in an instant - like a train.

Thomas Nagel, in his essay “The view from nowhere” argues for the possibility of seeing yourself first as “someone” and then secondly as yourself. This means you can step outside of yourself and make decisions - you can make decisions from a point of view that isn’t directly connected to the situation you’re currently in.

If you imagine the passage of time as a long walk through a long corridor. As human beings we are confined to walking a narrow path through this corridor at a steady pace in one direction. God sees the corridor from above, from ‘nowhere’, he sees the entire corridor at once.

That’s what I want. I want to be able to make the decisions that govern my life from a perspective that isn’t a function of the transient emotional states I’m currently in. I want to make ‘recommendations’. I want to look at my skills, talents, weaknesses, opportunities, ambitions, desires, shortcomings and “prescribe” the best course of action. Like an athlete going through a tough training session, I don’t want to making decisions as I’m climbing up the most torturous hill of the race, I want that decision to have already been made - now I just have to execute.

Too often in life, people are drawn into the vivacity of their current emotions and distracted from the things that really matter to them. I believe you should do what you want, but that that ‘want’ should be framed in terms of your goals not your desires. Too often people do want they ‘want’ rather than what they ‘should’. People fulfil their desires and not their goals. Time tracking is an attempt to break out of that confinement.

-Awais Hussain



</p>
