<% provide(:title, 'Home') %>
<head>
	<link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
</head>
<style>
body {
	background-color: #fff;
	color: #ff0000;
	h2{
		color: lightblue;
	}
}
</style>



<p>
	<h2 id="poem">
		"The unexamined life is not worth living."<br><br><br>
	</h2>
</p>


<p>
	<h2>

a time for love, a time for hate,<br>
a time to run, a time to wait,<br>
a time to stay, a time to flee,<br>
a time for you, a time for me. <br><br><br>
	</h2>
</p>

<img class="grid_3" class="input"  src="/MainInputPageV1.4.jpg" alt="rss feed" />



<h2>

     <p>

    TimeStamp uses type-free data entry to create an enduring record of exactly where you spend your time. <br><br><p>TimeStamp’s life-capturing dataset will help you identify wasted time and methodically squeeze it out of your day. We empower our users to take control of their time. </p><br>We're launching soon. Leave us your email address!<br><input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL">




 </p>

 </h2>

 <div>

</div>






  <h2>
  <p>
  </p>
  </h2>

  <div>

</div>


</body>
