<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to TimeStamp!</h1>

  <h2>
    TimeStamp creates an objective, meaningful, and enduring record of exactly where you spend your time. TimeStamp’s life-capturing dataset will help you identify wasted time and methodically squeeze it out of your day. We empower our users to take control of their time. 
  </h2>

  <%= link_to "Email Address", '#', class: "btn btn-large btn-primary" %>

  <h2>
  	<p></p>
    Enter your email address and we'll let you know when we're ready to launch.
  </h2>
</div>

