<% provide(:title, 'Product') %>
<div id="product_container">
	<head>
	</head>
		<style>
			body {
		background-color: #fff;
			}
		</style>
	<h3 id="product_headline">Made for you,made for me.</h3>

	<div id="picture_stream">
		<div id="image1">
			<img class="input"  src="/MainInputPageV1.4.jpg" alt="rss feed" />
		</div>
		<div id="image2">
			<img class="input"  src="/MainInputPageV1.4.jpg" alt="rss feed" />
		</div>
		<div id="image3">
			<img class="input"  src="/MainInputPageV1.4.jpg" alt="rss feed" />
		</div>
	</div>


	<div id="product_video">
		<strong>Insert video here</strong>
	</div>



	<div id="product1" class="profile">
		<div id="product1_image">
			<img class="input"  src="/MainInputPageV1.4.jpg" alt="rss feed" />
		</div>
		<div id="product1_text">
			The act of text entry is annoying. Use type-free data entry instead."test, things that you talk about. If you weren't afraid, what would you do?"
		</div>
	</div>

	<div id="product2" class="profile">
		<div id="product2_text" >
			The act of text entry is annoying. Use type-free data entry instead."test, things that you talk about. If you weren't afraid, what would you do?"
		</div>
		<div id="product2_image">
			<img class="input"  src="/MainInputPageV1.4.jpg" alt="rss feed" />
		</div>
		
	</div>

	<div id="product3" class="profile">
		<div id="product3_image">
			<img class="input"  src="/MainInputPageV1.4.jpg" alt="rss feed" />
		</div>
		<div id="product3_text">
			The act of text entry is annoying. Use type-free data entry instead."test, things that you talk about. If you weren't afraid, what would you do?"
		</div>
	</div>
	
</div>
