<% provide(:title, 'Sign_up') %>

<style type="text/css">
	body {
		background-color: #fff;
		}
</style>

<div id="sign_up_container">

	<div id="sign_up_heading">
		<h3>Let's stay in touch.</h3>
	</div>

	<div id="rightcolumn">
		<div id="quotehavel">
		Vision is not enough;<br>it must be combined with venture.<br>
		It is not enough to stare up the steps;<br> we must step up the stairs.<br>-Vaclav Havel
		</div>
	</div>	

<div class="sign_up_content">

	<fieldset>
		<label for="name">Name:</label>
		<input  type="text" name="name">
		<label for="email">Email:</label>
		<input type="email" name="email">	
	</fieldset>
</div>

	<div class="sign_up_content">
		<fieldset>
			<legend>Open Ended Question</legend>
				<label for="essay">We want to know about you.</label>
		<textarea style="height: 50px;" name="essay" rows="10" cols="10"></textarea><br>
				</fieldset>
		
		</fieldset>
	</div>

	<div class="sign_up_content">
		<fieldset>
	<input type="submit" value="Complete"><br>
				</fieldset>
	</div>


</div>

<div id="sign_up_information">
	<strong> Don't miss out!</strong>
	<p> This is the space where I give you a short spiel about the kind of information we're going to send you. Don't worry, it'll be great stuff!</p>
</div>
