@import "bootstrap";

/* Colors! 
light blue: #84baff;
dark blue: #3c3399;
in-between blue: #6055cc;
pale beige: #ffe4c4;
brownish: #cc8455;



*/


/* mixins, variables, etc. */

  
/* universal */

html {
  overflow-y: scroll;
}

body {
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

div {
  border: 0px solid red;
}

legend {
  margin-bottom: 10px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.hero-unit {
  background-color:#B22222;
}

ul.info {
  margin: 120px 120px 0px 0px;
  list-style: none;
  float: left;

#poem {
  color: #000;
}

.input {
  float:left;
}

.timelist {
  float:right;
}

  
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.4em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 200px;
  padding-top: 5px;
  color: $grayLight;
  clear: both;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* Sign Up Page */
.sign_up_content { 
  text-align: center;
}

#rightcolumn { 
  text-align: center;
}

#sign_up_container {
  background-color: #fff;
  text-align: left;
  width: 60%;
  padding: 5px;
  background-color: lightgrey;
  float: left;
  margin-bottom: 50px;
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px;
}
#quotehavel {
    font-family: georgia;
    font-style: oblique;
    text-align: center;
    margin-bottom: 15px;
}
 #sign_up_heading {
  text-align: center;

 }

 #sign_up_information {
  float: right;
  width: 35%;
  margin-bottom: 270px;
  margin-top: 150px;
  font-style: oblique;
 }

/* About Us Page */

#about_container {
  background-color: lightgrey;
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px;
}

#who_are_we {
  font-size: 30px;
  font-style: oblique;
  margin-top: 20px;

}

#about_heading {
  padding: 10px;
  text-align: center;
}

#speech {
  padding: 10px;
  margin-top: 20px;
  width: 80%;
  margin: auto;
  overflow: auto;
}

#jeremy_image {
  height: 180px;
  width: 180px;
  float: left;
}
#awais_image {
  height: 180px;
  width: 180px;
  float: right;
}

.input {
  height: 180px;
  width: 180px;
}

.profile {
  height: 20%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: auto;
}

#about_jeremy {
  float: right;
  width: 70%;
}
#about_awais {
  float: left;
  width: 70%;
}

#contact {
  padding: 5px;
  text-align: center;
}
#contact_heading {

}

#contact_info {
}

/* Product Page */

#product_container {
  background-color: lightgrey;
  padding: 10px;
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px;
}

#product_headline {
  text-align: center;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-style: oblique;
  border-bottom: solid 1pt black;
}

#picture_stream {
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
}

#image1 {
  float: left;
  width: 150px;
}

#image2 {
  width: 150px;
  float: left;
  margin-left: 220px;
}

#image3 {
  float: right;
  width: 150px;

}

#product_video {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  margin: auto;
  border: solid 1pt black;
  height: 250px;
}

.product {
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-top: solid 1pt black;
  overflow: auto;
}

#product1_text {

  float: right;
  width: 70%;
}

#product1_image {
    float: left;
}

#product2_text {

  float: left;
  width: 70%;
}

#product2_image {
    float: right;
}

#product3_text {

  float: right;
  width: 70%;
}

#product3_image {
    float: left;
}

/* Home Page */

#home_container {
  background-color: lightgrey;
  padding: 10px;
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px;
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}

#tagline {
  font-family: 'Ubuntu', sans-serif;
  font-size: 60px;
  line-height: 60px;
}

.button1{
-moz-border-radius:50px;
-webkit-border-radius:50px;
border-radius:50px;

-moz-box-shadow:0 1px 0 rgba(0,0,0,0.3);
-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.3);
box-shadow:0 1px 0 rgba(0,0,0,0.3);

background: -moz-linear-gradient(19% 75% 90deg, #E0E0E0, #FAFAFA);

background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E0E0E0));

color:#4A4A4A;
font-family:arial,helvetica,sans-serif;
font-size:17px;
font-weight:bold;
padding:10px 15px;
text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);
text-align: center;
}

#sign_tag{
}

#title_container {
  padding: 10px;
  height: 400px;
}

#title_picture {
float: left;
padding: 10px;
height: 380px;
}

#title {
  float: right;
  padding: 10px;
  height: 380px;
  width: 400px;
}

#button {
  padding: 10px;
  overflow: auto;
}

#main_image {
  height: 380px;
}

#tagline {
  float: left;
}

#test{
  height: 50px;
  width: 100px;
  float: right;
}

.five_columns {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;

}

.column {
  font-family: helvetica;
  float: left;
  width: 19%;
  height: 100%;
  text-align: center;
}

.column_text {
  font-size: .8em;
  line-height: 1.2em;
}

#home_product {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
}

#home_sign_up_container {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;

}

#home_about_us_container {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
}
