@import "bootstrap";

/* Colors! 
light blue: #84baff;
dark blue: #3c3399;
in-between blue: #6055cc;
pale beige: #ffe4c4;
brownish: #cc8455;



*/


/* mixins, variables, etc. */

$grayMediumLight: #000;

/* universal */

html {
  overflow-y: scroll;
}

body {
    padding-top: 40px;
    font-family: arial;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

div {

}

legend {
  margin-bottom: 10px;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.hero-unit {
  background-color:#B22222;
}

ul.info {
  margin: 120px 120px 0px 0px;
  list-style: none;
  float: left;

#poem {
  color: #000;
}

.input {
  float:left;
}

.timelist {
  float:right;
}

  
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 200px;
  padding-top: 5px;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* Sign Up Page */
.sign_up_content { 
  text-align: center;
}

#rightcolumn { 
  text-align: center;
}

#sign_up_container {
  background-color: #fff;
  text-align: left;
  width: 60%;
  padding: 5px;
  background-color: lightgrey;
  float: left;
  margin-bottom: 50px;
}
#quotehavel {
    font-family: georgia;
    font-style: oblique;
    text-align: center;
    margin-bottom: 15px;
}
 #sign_up_heading {
  text-align: center;

 }

 #sign_up_information {
  float: right;
  width: 35%;
  margin-bottom: 270px;
  margin-top: 150px;
  font-style: oblique;
 }

/* About Us Page */

#about_container {
  background-color: lightgrey;
}

#who_are_we {
  font-size: 30px;
  font-style: oblique;

}

#about_heading {
  padding: 10px;
  text-align: center;
}

#speech {
  padding: 10px;
  margin-top: 20px;
  width: 60%;
  margin: auto;
}

#jeremy_image {
  height: 180px;
  width: 180px;
  float: left;
}
#awais_image {
  height: 180px;
  width: 180px;
  float: right;
}

.input {
  height: 180px;
  width: 180px;
}

.profile {
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#about_jeremy {
  float: right;
  width: 700px;
}
#about_awais {
  float: left;
  width: 700px;
}

#contact {
  padding: 5px;
  text-align: center;
}
#contact_heading {

}

#contact_info {
}

