<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "TimeStamp", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <!--<li><%= link_to "Blog",    help_path %></li>-->
          <li> <a href="http://hidden-plains-5754.herokuapp.com#us">About</a> </li>
          <li> <a href="http://hidden-plains-5754.herokuapp.com#app">Product</a> </li>
          <li> <a href="http://hidden-plains-5754.herokuapp.com#sign">Sign Up</a> </li>


        </ul>
      </nav>
    </div>
  </div>
</header>